/* 
    Created on : 29/01/2016, 11:12:06 AM
    Author     : racorrea
*/
*{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding: 3em;
    text-align: center;
}
.videotube{
        margin: .5em;
    background: #ededed;
    width: 25%;
}
#con_description h3#titulo{
    font-size: 14px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    
}
#results{
    display: flex;
    display: -webkit-flex;
    font-family: Arial;
    margin-left: 1em;
    margin-right: 1em;
}
#results1, #results2{
    display: flex;
    display: -webkit-flex;
    font-family: Arial;
    margin-left: 1em;
    margin-right: 1em;
}
#search{
    width: 400px;
}
#con_description{
        padding-left: 1em;
    padding-right: 1em;
}

iframe#videos{
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
}
p{
    font-size: 12px;
}
.dte {
    text-align: right;
    background-color: #F5D626;
    position: relative;
    top: -1em;
    padding-right: 1em;
    font-weight: bold;
    color: #444;
    margin-bottom: 0;
}